body {
    display: flex;
    flex-direction: column;
    background-color: rgb(59, 59, 59);
}

.square {
    width: 32px;
    height: 32px;
    background-color: rgb(102, 126, 88);
    margin: 0;
}

.grid-row {
    display: flex;
}

